fastapi[all]==0.110.1
berserk==0.13.2
jupyter==1.0.0
tqdm==4.66.2
pandas==2.2.1
transformers==4.39.3
sentencepiece==0.2.0
scikit-learn==1.2.2
protobuf==4.25.3
chess==1.10.0
tensorflow==2.15.0
google-generativeai==0.4.1
stockfish==3.28.0
